<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> <a href="/movies"> Movies </a> <a href="/directors"> Directors </a> <a href="/actors"> Actors</a> </h1>
<h2> Add a movie, director or actor</h2>
<h2> <a href="/movies/new_form"> Movie  Form </a>
  <a href="/directors/new_form"> Director  Form</a>
  <a href="/actors/new_form"> Actor Form</a></h2>
<%= yield %>

</body>
</html>
